x-variables:
  - &environment_mysql_root_password MYSQL_ROOT_PASSWORD=database
  - &volume_wiki_images wiki-images:/var/www/html/images

services:

  # Note that BackstopJS testing will only work for the default values
  # WIKI_DOMAIN=wiki.local and WIKI_PORT=80

  wiki:
    image: ghcr.io/tibhannover/smw-crc1153:test
    build: ./context
    ports:
      - ${WIKI_PORT:-80}:80
    volumes:
      - wiki-data:/data
      - *volume_wiki_images
      - ./backstop/backstop_data:/var/www/html/backstop
    environment:
      - WIKI_DOMAIN=${WIKI_DOMAIN:-wiki.local}
      - WIKI_PORT=${WIKI_PORT:-80}
      - ELASTICSEARCH_HOST=elasticsearch
      - MYSQL_HOST
    depends_on:
      mysql:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.run-jobs.schedule: "@every 30s"
      ofelia.job-exec.run-jobs.command: "run-jobs.sh --quiet"

  ofelia:
    image: mcuadros/ofelia:0.4.0-beta
    restart: always
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./ofelia/config.ini:/config.ini
      - ./ofelia/reports:/reports

  memcached:
    image: memcached:latest

  elasticsearch:
    ## MW recommends to use their own images and sticking with the version even if a newer ES is available
    ## https://gitlab.wikimedia.org/repos/search-platform/cirrussearch-elasticsearch-image
    ## https://docker-registry.wikimedia.org/repos/search-platform/cirrussearch-elasticsearch-image/tags/
    image: docker-registry.wikimedia.org/repos/search-platform/cirrussearch-elasticsearch-image:v7.10.2-12
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    healthcheck:
      test: curl -s http://elasticsearch:9200 >/dev/null || exit 1
      interval: 10s
      timeout: 5s
      retries: 50

  mysql:
    image: mysql:8
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: database
    healthcheck:
      test: "/usr/bin/mysql --user=root --password=$$MYSQL_ROOT_PASSWORD --execute 'SHOW DATABASES;'"
      interval: 5s
      timeout: 5s
      retries: 42

  backup:
    image: ghcr.io/gesinn-it-pub/mediawiki-backup:${MEDIAWIKI_BACKUP_VERSION:-latest}
    volumes:
      - ./backup:/backup
      - *volume_wiki_images
    environment:
      - MYSQL_HOST=mysql
      - *environment_mysql_root_password
      - OWNER=${OWNER:-1000}
    profiles:
      - no-up

  backstop:
    image: backstopjs/backstopjs:6.0.4
    volumes:
      - ./backstop:/src
    links:
      - wiki:wiki.local
    profiles:
      - no-up

  wait-for-wiki:
    image: mintel/docker-wait-for-it
    entrypoint: ['/opt/wait-for-it.sh', 'wiki:80', '-t', '120']
    profiles:
      - no-up

volumes:
  wiki-data:
  wiki-images:
  elasticsearch-data:
  mysql-data:
